.body-color {
    background-color: rgba(0, 4, 15, 1);
}

.section-hover:hover {
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    border-radius: 20px;
}

.text-btn {
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border-radius: 10px;
    color: black;
    padding: 10px 50px;
}

.text-section {
    color: rgba(255, 255, 255, 0.7);
}

.text-color-hover:hover {
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border-radius: 10px;
    color: white;
}

.text-color {
    color: rgb(255, 255, 255);
}

.txt-hover:hover {
    color: rgba(92, 225, 230, 1);
}

.hover-icon:hover {
    background-color: rgba(92, 225, 230, 1);
    padding: 5px;
    border-radius: 10px;
}

.text-color-btn {
    border-radius: 10px;
    border: 2px solid rgba(92, 225, 230, 1);
    color: white;
}

.btn-hover:hover {
    color: rgb(254, 254, 254);
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
}

.size-screen {
    max-width: 1300px;
    text-align: center;
    margin: auto;
    padding: 60px 10px;
}

.bg-discount-gradient {
    background: linear-gradient(125.17deg, #272727 0%, #11101D 100%);
}

.text-gradient {
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.01em;
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%)/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text-hero {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.pink__gradient {
    background: linear-gradient(20deg, #f4c4f3 0%, #010120 10%);
    filter: blur(900px);
}

.white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
}

.blue__gradient {
    background: linear-gradient(100deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
}

.text-stats {
    font-family: 'Poppins';
    font-style: normal;
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%)/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}